body{
  background-color: aquamarine;
}

.App {
  text-align: center;
  background-color: rgb(115, 185, 200);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#editor {
  background-color: rgb(168, 181, 116);
}

#preview {
  background-color: rgb(168, 181, 116);
}
